@import 'reset.sass'
@import 'Animation'

@import '_mixins'
@import '_variables'

body
    min-height: 100vh
    height: 100%

    font-family: 'oxanium', 'Courier New', Courier, monospace

    background-image: linear-gradient(rgba(0, 0, 0, 0.941), rgba(0, 0, 0, 0.916)), url('../img/bg-desktop.jpg')
    background-attachment: fixed
    background-position: center center
    background-repeat: no-repeat
    background-size: cover

    color: white

    overflow-x: hidden

    .head
        max-width: $max-wdth
        animation: opacity 5s
        @include flex-center()

        @include responsive-1124()
            margin: 0 auto
            max-width: 190px

    .selection-persona
        max-width: $max-wdth
        animation: opacity 5s

        position: relative
        top: 50px

        gap: 50px

        padding: 0px 20px

        @include flex-center()

        min-height: calc(100vh - 152px)
        height: 100%

        @include responsive-1124()
            flex-direction: column-reverse
            max-width: 630px
            margin: 0 auto

            gap: 10px

        @include responsive-mobile-444()
            padding: 0px 5px

        .personas
            @include flex-center()

            flex-direction: column
            max-width: 585px
            gap: 25px

            @include responsive-1124()
                margin-top: 37px

            .title
                font-size: 20px
                letter-spacing: 4px
                text-transform: uppercase
                border-bottom: 2px solid $bottom-border-color
                width: 100%
                text-align: center

                @include responsive-1124()
                    font-size: 15px

            .list-persona
                @include flex-center()

                z-index: 2

                flex-wrap: wrap

                justify-content: space-between

                gap: 20px

                @include responsive-1124()
                    gap: 10px
                
                @include responsive-mobile-444()
                    gap: 5px

                .persona
                    height: 210px
                    width: 130px

                    border-bottom: 4px solid $bottom-border-color

                    @include responsive-mobile-624()
                        height: 200px
                        width: 110px

                    @include responsive-mobile-524()
                        height: 150px
                        width: 88px
                    
                    @include responsive-mobile-444()
                        height: 120px
                        width: 80px


                    &:hover
                        animation: hoverCard 1s ease-in-out

                    img
                        height: 100%
                        width: 100%
                        margin-bottom: -5px

        .select-persona.animation
            animation: big-persona-hider .1s ease-in

        .select-persona 
            width: 450px
            height: 600px

            @include responsive-1124()
                height: 500px

        .name-persona
            border-bottom: 2px solid $bottom-border-color
            text-transform: uppercase
            letter-spacing: 4px
            margin-bottom: 20px
            text-align: center

        .description-persona
            font-size: 16px
            line-height: 22px
            text-align: center
            min-height: 100px
            width: 450px

            @include responsive-1124()
                width: 80%
                min-height: 0px
                font-size: 16px
                margin: 0 auto

        .big-persona
            animation: BPersona 4s ease-in-out alternate infinite

            width: 420px
            height: 420px
            display: block

            margin: 0 auto

            z-index: 0

            @include responsive-1124()
                width: 380px
                height: 380px

        .persona.selection
            animation: pulse 4s ease-in-out alternate-reverse infinite

            box-shadow: 0px 0px 24px 5px #0271f7
