* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes BPersona {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0px 0px 24px 10px rgba(2, 112, 247, 0.4549019608);
    transform: rotate(2deg);
  }
  100% {
    box-shadow: 0px 0px 24px 2px rgba(2, 112, 247, 0.5176470588);
    transform: rotate(-2deg);
  }
}
@keyframes hoverCard {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes big-persona-hider {
  0% {
    transform: translateY(-100vh);
    filter: blur(100px);
  }
  100% {
    transform: translateY(0vh);
  }
}
body {
  min-height: 100vh;
  height: 100%;
  font-family: "oxanium", "Courier New", Courier, monospace;
  background-image: linear-gradient(rgba(0, 0, 0, 0.941), rgba(0, 0, 0, 0.916)), url("../img/bg-desktop.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow-x: hidden;
}
body .head {
  max-width: 1324px;
  animation: opacity 5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1124px) {
  body .head {
    margin: 0 auto;
    max-width: 190px;
  }
}
body .selection-persona {
  max-width: 1324px;
  animation: opacity 5s;
  position: relative;
  top: 50px;
  gap: 50px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 152px);
  height: 100%;
}
@media (max-width: 1124px) {
  body .selection-persona {
    flex-direction: column-reverse;
    max-width: 630px;
    margin: 0 auto;
    gap: 10px;
  }
}
@media (max-width: 624px) {
  body .selection-persona {
    padding: 0px 10px;
  }
}
body .selection-persona .personas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 585px;
  gap: 25px;
}
@media (max-width: 1124px) {
  body .selection-persona .personas {
    margin-top: 37px;
  }
}
body .selection-persona .personas .title {
  font-size: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-bottom: 2px solid #47f4ff;
  width: 100%;
  text-align: center;
}
@media (max-width: 1124px) {
  body .selection-persona .personas .title {
    font-size: 15px;
  }
}
body .selection-persona .personas .list-persona {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  z-index: 2;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
}
@media (max-width: 1124px) {
  body .selection-persona .personas .list-persona {
    row-gap: 15px;
  }
}
@media (max-width: 624px) {
  body .selection-persona .personas .list-persona {
    justify-content: center;
    gap: 25px 10px;
  }
}
body .selection-persona .personas .list-persona .persona {
  height: 210px;
  width: 130px;
  border-bottom: 4px solid #47f4ff;
}
@media (max-width: 624px) {
  body .selection-persona .personas .list-persona .persona {
    height: auto;
    width: calc(25% - 10px);
  }
}
body .selection-persona .personas .list-persona .persona:hover {
  animation: hoverCard 1s ease-in-out;
}
body .selection-persona .personas .list-persona .persona img {
  height: 100%;
  width: 100%;
  margin-bottom: -5px;
}
body .selection-persona .select-persona.animation {
  animation: big-persona-hider 0.1s ease-in;
}
body .selection-persona .select-persona {
  width: 450px;
  height: 600px;
}
@media (max-width: 1124px) {
  body .selection-persona .select-persona {
    height: 500px;
    width: 100%;
  }
}
body .selection-persona .information-persona {
  width: 100%;
}
body .selection-persona .information-persona .name-persona {
  border-bottom: 2px solid #47f4ff;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
body .selection-persona .information-persona .description-persona {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  min-height: 100px;
  width: 450px;
}
@media (max-width: 1124px) {
  body .selection-persona .information-persona .description-persona {
    width: 80%;
    min-height: 0px;
    font-size: 16px;
    margin: 0 auto;
  }
}
body .selection-persona .big-persona {
  animation: BPersona 4s ease-in-out alternate infinite;
  width: 420px;
  height: 420px;
  display: block;
  margin: 0 auto;
  z-index: 0;
}
@media (max-width: 1124px) {
  body .selection-persona .big-persona {
    width: 380px;
    height: 380px;
  }
}
@media (max-width: 624px) {
  body .selection-persona .big-persona {
    width: 320px;
    height: 320px;
  }
}
body .selection-persona .persona.selection {
  animation: pulse 4s ease-in-out alternate-reverse infinite;
  box-shadow: 0px 0px 24px 5px #0271f7;
}

/*# sourceMappingURL=style.css.map */
